# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
*.log
logs/
*.log.*

# Build output
/dist
/build

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
